body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checked-item,
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(41, 40, 40);
  padding: 10px;
  width: 850px;
  color: white;
  margin: 5px 0;
}

.checked-item {
  text-decoration: line-through;
}
h4{
  margin: 0;
}
svg{
  cursor: pointer;
}
